# {{ ansible_managed }}
#
{% for item in autofs_indirect_maps %}
{% if item.file is defined and item.name in enabled_autofs_indirect_maps %}
{{ item.path }}  {{ item.file }} {{ item.autofsoptions }}
{% endif %}
{% if item.mounts is defined and item.name in enabled_autofs_indirect_maps %}
{{ item.path }}  {{ item.name }} {{ item.autofsoptions }}
{% endif %}
{% endfor %}
