# {{ ansible_managed }}

#autofs:
##  - indirect:
##    - file: auto.home
##      mounts:
##      - key: '*'
##        options: '-fstype=nfs,vers=4'
##        uri: 'server:/path/to/&'
##      auto_master: '/home /etc/auto.home'
##  - direct:
##    - file: filename
##      mounts:
##      - key: 'somedir'
##        options: "nfs,rw,bg,hard,intr,tcp,resvport"
##        uri: "nfs.server.com:/data/isos"
##      - key: 'somedir'
##        fstype: "nfs,rw,bg,hard,intr,tcp,resvport"
##        url: "nfs.server.com:/data/isos"

{% for v in item[mounts] %}
{{ v[key] }} -fstype={{ v[options] }} {{ v[uri] }}
{% endfor %}
